# Environment variables for local development
# Copy this file to .env and fill in your actual values

# AWS Configuration
# please keep your AWS Credential here
AWS_REGION=your_AWS_Region
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# SendZen WhatsApp API Configuration
SENDZEN_API_URL=https://api.sendzen.com/v1/messages
SENDZEN_API_KEY=your_sendzen_api_key_here
WHATSAPP_FROM=your_whatsapp_business_number
WHATSAPP_TEMPLATE_NAME=your_template_name
WHATSAPP_LANG_CODE=your_template_language

# Application Configuration
OTP_EXPIRY_MINUTES=5
MAX_LOGIN_ATTEMPTS=3
NODE_ENV=development
LOG_LEVEL=info

